# Ignore Virtual Environment
myEnv/

# Ignore everything inside the Downloads folder
notebooks/Downloads/*

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode and cache
.py_checkpoints/
.py_cache/
__pycache__/